* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    min-width: 1280px;
}


.yellowColor {
    color: #cfc91d;
}
.boldText {
    font-weight: 700;
    font-size: 1.3em;
}

/*Здесь шапка сайта
======================================*/
.mainHeader {
    height: 61px;
    background: #018F8A;
    color: #fff;
    font-weight: 800;
}
.logoHeader {
    float: left;
    margin:  14px 50px;
    font-size: 1.7em;
}
.listHeader {
    list-style-type: none;
    float: right;
    margin: 20px 50px;
}
.itemHeader {
    display: inline-block;
    margin-right: 30px;
}


/*Здесь баннер сайта
++++++++++++++++++++++++++++++++++*/
.mainBanner {
    height: 728px;
    background: url(img/banner.jpg) center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    clear: both;
    position: relative;
    text-align: center;
}
.bannerHeader {
    text-align: center;
    color: #fff;
    width: 1300px;
    padding-top: 205px;
    margin: auto;
}
.firstLineBanner {
    font-size: 1.7em;
}
.secondLineBanner {
    font-size: 68px;
    letter-spacing: 25px;
    font-weight: 900;
}
.thirdLineBanner {font-size: 1em;}
.bracketImgBanner {
    transform: rotate(90deg);
    font-size: 108px;
    font-family: Arial;
    font-weight: 100;
    margin-left: 1%;
}
.knowMore {
    width: 196px;
    height: 47px;
    background-color: #cfc91d;
    font: 700 14px / 30px;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
}


/*Зона !ОБО МНЕ!
________________________________*/

.aboutMe {
    background-color: #fdfdfd;
}
.aboutMe_content {
    width: 1260px;
    margin: 95px auto 0;
}
.aboutMe_header {
    color: #02918c;
    font: 900 46px Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}
.aboutMe_header:after {
    display: block;
    content: "~~~~~~~~ :: ~~~~~~~~";
    font: 400 16px / 41px OpenSans;
    color: #7e8287;
    margin: 25px 0;
}
.aboutMe_text {
    color: #7e8287;
    text-align: center;
    width: 874px;
    margin: 0 auto;
}


.aboutMe_list {
    list-style-type: none;
    color: #7e8287;
    text-align: center;
    margin: 80px 0;
}
.aboutMe_item {
    display: inline-block;
    width: 200px;
}
.aboutMe_item:nth-child(1) {
    margin-left: 0px;
}
.aboutMe_item:nth-child(1) > .aboutMe_item_ico {
    background: url(img/Vector-Smart-Object.png) center no-repeat;
}
.aboutMe_item:nth-child(2) > .aboutMe_item_ico {
    background: url(img/Vector-Smart-Object2.png) center no-repeat;
}
.aboutMe_item:nth-child(3) > .aboutMe_item_ico {
    background: url(img/Vector-Smart-Object3.png) center no-repeat;
}
.aboutMe_item:nth-child(4) > .aboutMe_item_ico {
    background: url(img/Vector-Smart-Object4.png) center no-repeat;
}
.aboutMe_item_ico {
    width: 32px;
    height: 32px;
    margin: 30px auto;
}

.aboutMe_item_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.aboutMe_item:nth-child(1), .aboutMe_item:nth-child(2), .aboutMe_item:nth-child(3) {
    border-right: 1px solid #d9dbdb;
    padding: 0 55px;
}
.aboutMe_item:nth-child(4) {
    padding: 0 55px;
}
.aboutMe_item_text {
    padding-bottom: 54px;
}


/*Зона SERVICES
::::::::::::::::::::::::::::::*/
.services {
    background: url(img/serveces.jpg) center no-repeat;/* #f0f0e8; */
    background-size: 100% 100%;
}
.services_content {
    margin: 0 90px;
    padding: 75px 0;
    text-align: left;
    width: 475px;
    color: #7e8287;
}
.services_Header {
    color: #02918c;
    font-size: 46px;
    font-weight: 900;
}
.services_Header:after {
    display: block;
    content: "~~~~~ :: ~~~~~";
    font: 400 16px / 41px OpenSans;
    color: #7e8287;
    margin: 43px 0 15px;
}
.services_text {
    line-height: 40px;
    margin-bottom: 50px;
}

.services_item:nth-child(1) > .services_item_ico {
    background: url(img/Vector-Smart-Object01.png) center no-repeat;
}
.services_item:nth-child(2) > .services_item_ico {
    background: url(img/Vector-Smart-Object02.png) center no-repeat;
}
.services_item:nth-child(3) > .services_item_ico {
    background: url(img/Vector-Smart-Object03.png) center no-repeat;
}
.services_item:nth-child(4) > .services_item_ico {
    background: url(img/Vector-Smart-Object04.png) center no-repeat;
}
.services_list {
    list-style-type: none;
}
.services_item_ico {
    width: 32px;
    height: 32px;
}
.services_item {
    width: 145px;
    display: inline-block;
    margin-right: 90px;
}
.services_item:nth-child(1), .services_item:nth-child(2) {
    margin-bottom: 60px;
}
.services_item_header {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
}

/*Здесь будет myWork
"""""""""""""""""""""""""""""""""""""""*/
.myWork {
    text-align: center;
    color: #7e8287;
}
.myWork_title {
    color: #02918c;
    font-size: 46px;
    font-weight: 900;
    margin-top: 110px;
}
.myWork_title:after {
    display: block;
    content: "~~~~~~~~ :: ~~~~~~~~";
    font: 400 16px / 41px OpenSans;
    color: #7e8287;
    margin: 25px 0;
}
.myWork_text {
    line-height: 40px;
    width: 677px;
    margin: 0 auto 78px;
}
.myWork_imgs_conteiner {
    margin: auto;
	font-size: 0;
}
.myWork_imgs_conteiner:after {
	content: '';
	display: table;
	clear: both;
	width: 100%;
}
.myWork_imgs {
	
}

.myWorkImg {
    display: inline-block;
}

